input[type=text], [type=password], [type=date], [type=datetime], [type=datetime-local], [type=month], [type=week], [type=email], [type=number], [type=search], [type=tel], [type=time], [type=url], [type=color], textarea, select {
    margin-top: .625rem;
    margin-bottom: .625rem;
    letter-spacing: -.04em
}

.card-text {
    border-left: 0px;
    padding-left: 0px !important;
}

.breadcrumb {
    padding: 8px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 4px
}

.breadcrumb .active {
    font-weight: bold;
}

.progress .progress-bar {
    background-color: #23573a;
}

.alert-primary {
    background-color: #d3ddd8;
    border-color: #7b9a89;
}

.alert-warning-askham {
    background-color: #fff3cd;
    border-color: #ffc107;
}

.alert-light {
    background-color: #f5f5f5;
    border-color: #c4c4c4;
}

.list-group .NoBorder {
    border: 0px;
}

.bd-callout-askham {
    border-left-color: #23573a !important;
}

.bd-callout-askham-warning {
    border-left-color: #FF6F00 !important;
}

.bd-callout-askham-success {
    border-left-color: #1B5E20 !important;
}

.bd-callout .list-group .icon::before {
    display: inline-block !important;
    text-rendering: auto !important;
    -webkit-font-smoothing: antialiased !important;
}

.bd-callout .list-group .listcheck::before {
    font: var(--fa-font-solid) !important;
    content: '\f14a' !important;
}

.bd-callout .list-group .listcheck {
    border: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.bd-callout .list-group {
    margin-left: 20px !important;
}

.bd-callout-grey {
    background-color: #f5f5f5;
}

.bd-callout-fees {
    background-color: #FFECB3;
}

.bd-callout-thankyou {
    background-color: #C8E6C9;
}

.bd-callout-grey h4,
.bd-callout-fees h4,
.bd-callout-thankyou h4 {
    margin-bottom: 1em;
    display: block;
    color: #23573a;
}

.bd-callout-grey h5 {
    color: #23573a;
}

.bd-callout-fees h4 {
    color: #FF6F00 !important;
}

.bd-callout-thankyou h4 {
    color: #1B5E20 !important;
}

#cboSchoolIDInputGroup .form-control {
    margin: 0px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#cboSchoolIDInputGroup .btn {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.SearchButton {
    padding-top: 12px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

@media (width >= 1455px) {
    .SearchButton {
        margin-bottom: 20px !important;
    }
}

.btn-primary {
    background-color: #23573a;
    border-color: #23573a;
    border-radius: 2em;
}

.btn-primary:hover {
    background-color: #58a044;
    border-color: #58a044;
}

.BackButton::before {
    font: var(--fa-font-solid);
    content: '\f100';
}

.NextButton::after {
    font: var(--fa-font-solid);
    content: '\f101';
}

.CourseIcon {
    max-width: 80px;
    margin: 6px;
}

.CourseTitle {
    margin-right: 92px;
}

.CourseDetails a:link,
.CourseDetails a:active,
.CourseDetails a:visited {
    text-decoration-color: #58a044;
}

.CourseDetails a:hover {
    text-decoration-color: #23573a;
}

.CourseDetails p {
    font-size: 1.2em;
}

.ErrorInput input {
    border: 1px solid red;
}

span.error {
    color: #F44336;
    border: 1px solid #e95050;
    background-color: #f8d7da;
    border-radius: 0.375rem;
    padding: 16px;
}

.FreeCourse {
    background-color: #689F38;
    border-radius: .25rem;
    padding: .3rem;
    color: #FFFFFF;
}

.NonFreeCourse {
    background-color: #D32F2F;
    border-radius: .25rem;
    padding: .3rem;
    color: #FFFFFF;
}

.FeeUnknownCourse {
    background-color: #455A64;
    border-radius: .25rem;
    padding: .3rem;
    color: #FFFFFF;
}

.Site {
    background-color: #607D8B;
    border-radius: .25rem;
    padding: .3rem;
    color: #FFFFFF;
}

.York {
    background-color: #3F51B5;
}

.Middlesbrough {
    background-color: #00BCD4;
}

.Newcastle {
    background-color: #E91E63;
}

.Saltaire {
    background-color: #795548;
}

.Wakefield {
    background-color: #9C27B0;
}